
<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>
            
            <div class="container pt-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Pergunta</h3>
                    </div>
                    <div class="card-body">
                        <form action="/enviar" method="post">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Título</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="titulo"
                                    placeholder="Título">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Descrição</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descricao"></textarea>
                            </div>
                            <button type="submit" class="btn btn-info">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            
    </body>
    <%- include ('partials/footer.ejs') %>
